body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9; /* verde clarito */
    color: #1b5e20; /* verde oscuro */
    margin: 0;
    padding: 0;
    text-align: center;
}

.titulo {
    font-size: 36px;
    font-weight: bold;
    color: #2e7d32;
    margin-top: 20px;
}

.subtitulo {
    font-size: 20px;
    color: #388e3c;
    margin-bottom: 30px;
}

main {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #2e7d32;
}

video {
    display: block;
    margin: 20px auto;
    border: 3px solid #2e7d32;
    border-radius: 10px;
    max-width: 80%;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #2e7d32;
    text-align: center;
}
.imagen {
    display: block;
    margin: 20px auto;
    border: 3px solid #2e7d32; /* borde verde */
    border-radius: 10px;       /* bordes ligeramente redondeados */
    max-width: 60%;
    height: auto;


}

